{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/layout.css' %}">
    <link rel="stylesheet" href="{% static 'style/menu.css' %}">
    <link rel="stylesheet" href="{% static 'style/photo_carousel.css' %}">
    <script src="{% static 'scripts/carus.js' %}"> </script>
    <title>Document</title>
</head>

<body>
    



    <header>
        <a  href="/company">

        <p class="sail">SAIL</p><p class="sail">ARCHITECTS</p>   

        </a>

    

        <div class="site_menu">
            <ul>
                <li><a href ="#">Бюро</a></li>
                <li><a href ="#">Проекты</a></li>
                <li><a href ="#">Контакты</a></li>
                <li><a href ="#">Видео</a></li>
            </ul>
            
        </div>    
         
        <div class="btn" id="b1" onclick="set_picture('1.jpeg')"></div>
        <div class="btn" id="b2" onclick="set_picture('2.jpeg')"></div>
        <div class="btn" id="b3" onclick="set_picture('3.jpeg')"></div>
        
        <a href="#">
            <img src="{% static "img/4.jpg" %}" width="350" height="300">
          </a>
        
        <a href="#">
            <img src="{% static "img/5.jpg" %}" width="350" height="300">
          </a>
        
        <a href="#">
            <img src="{% static "img/5.jpg" %}" width="350" height="300">
          </a> 
       
    </header>

</body>
</html>
