{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/layout.css' %}">
    <link rel="stylesheet" href="{% static 'style/menu.css' %}">
    <link rel="stylesheet" href="{% static 'style/working_projects1.css' %}">
    <title>project</title>
</head>
<body>
    <a  href="/company">

        <p class="sail">SAIL</p><p class="sail">ARCHITECTS</p>   

        </a>
    <div class="site_menu">
        <ul>
            <li><a href ="#">Бюро</a></li>
            <li><a href ="#">Проекты</a></li>
            <li><a href ="#">Контакты</a></li>
            <li><a href ="#">Видео</a></li>
        </ul>
            
     </div> 

    <div class="private_house">
     <img src="{% static "img_project/9.png" %}" width="800" height="500">
    </div>

    <div class="private_house2">
        <img src="{% static "img_project/4.png" %}" width="800" height="500">
       </div>

    <div class="private_house2">
        <img src="{% static "img_project/6.png" %}" width="800" height="500">
    </div>

    <div class="private_house2">
        <img src="{% static "img_project/7.png" %}" width="800" height="500">
    </div>
    
     <div class="private_house2">
        <img src="{% static "img_project/8.png" %}" width="800" height="500">
    </div>
    
       
       
    
    
</body>
</html>