.sail  {
   
    margin-top: 0;
    margin-bottom: 0;
    color: #81817c; 
    font-family: ‘Trocchi’, serif; 
    font-size: 25px; 
    font-weight: normal; 
    text-decoration: none;
    margin-left: 60px;

}
a {
    text-decoration: none;
  
}
header {
    margin-top: 50;
}

.kotiki {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;  
}
.glavniy_cotic { 
    margin-top: 6vw;

}
